body, html {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #f0f2f5;
    color: #333;
    height: 100%;
}

.login-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    padding: 10px; /* Equal spacing for top and bottom */
    box-sizing: border-box;
}

.login-form {
    padding: 20px;
    max-width: 400px;
    width: 100%;
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.login-header {
    text-align: center;
    margin-bottom: 1rem;
}

.login-logo {
    width: 60px;
    margin-bottom: 10px;
}

.snackbar-alert {
    width: 100%;
}
